@charset "utf-8";
@import "./_variable";
@import "./_mixin";

header {
	position: relative;
	width: 100%;

  .top_title {
    background: white;
    color: #333;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 20px 15px 50px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 60px;

    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 20px;
      width: auto;
      margin: 0 auto;
      padding-right: 13px;
      font-size: 1rem !important;
      flex-grow: 1;

      img {
        height: 30px;
        vertical-align: middle;
      }
    }
  }

  /* 모바일 메뉴 버튼 */
  .menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 54px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    img {
      height: 23px;
    }
    .menu_icon {
      i {
        font-size: 25px;
        vertical-align : middle;
      }
    }
  }
  .menuback {
    position: absolute;
    width: 50px;
    height: 54px;
    text-align: center;

    .back_icon {
      font-size: 28px;
      color: inherit;
      height: 54px;
      width: 100%;
      line-height: 54px;

      i {
        vertical-align: middle;
      }
    }
    & + .top_title {
      padding-left: 40px;
    }
  }
  .left_gnbWrap {
    height: 100%;
    position: fixed;
    width: 300px;
    left: -350px;
    top: 0;
    background-color: #fff;
    z-index: 999;
    transition: all 0.3s;
    visibility: hidden;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.2s;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 15%);

    &.on {
      left: 0;
      visibility: visible;
      display: flex;
      flex-direction: column;
    }

    &.scroll {
      .position_wrap {
        box-shadow: 0 0 8px 1px rgba(0,0,0,0.035);
      }
    }
    .user_icon i {
      vertical-align: middle;
    }
    .b_line3 {
      margin: 0;
    }
    .gnb_top {
      height: 50px;
      width: 100%;
      -ms-flex-item-align: start;
      align-self: flex-start;

      .close {
        width: 50px;
        height: 50px;
        text-align: center;
        float: none;;
        margin: 5px 10px;

        &:focus {
          border: none;
          outline: none;
        }

        img {
          width: auto;
          max-width: 23px;
        }
      }
    }
    .user-content {
      margin: 0 15px;
      padding: 25px 10px;

      .user_id {
        color: #b4bac5;
        font-size: 0.9rem;
        letter-spacing: -0.3px;
        margin: 0;
        font-weight: 100;
      }
      .user_name {
        margin-bottom: 3px;

        .mygrade {
          background: none;
          color: #8b8b8b;
          font-weight: 300;
          font-size: 1rem;
          padding: 0;
          vertical-align: baseline;
        }
      }
      .user_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: inherit;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .userid.user_level {
          margin-left: 10px;
        }
      }
    }
    .left_gnb {
      padding: 10px 0 150px;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      & > li {
        margin: 10px 15px;
        border-radius: 60px;

        & > ul {
          display: none;
        }

        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          line-height: 44px;
          height: 44px;
          color: #333;
          font-size: 15px;
          position: relative;
          padding: 0 20px;
          border-radius: 60px;    

          .gnb_img_wrap {
            background: url("../../../img/gnb/menu_set_white.svg") no-repeat left center / 227px;
            width: 35px;
            height: 38px;
          }
          .gnb_title_Wrap {
            flex-grow: 2;
            padding-left: 20px;
          }
        }

        &:hover,
        &.active {
          a {
            color: $main_color;
            background: $gnb_active_bg;

            .gnb_img_wrap {
              background-image: url("../../../img/gnb/menu_set_white_hover.svg");
            }  
            .gnb_title_Wrap {
              color: $main_color;
            }
          }
        }  
        
        &.dashboard_icon .gnb_img_wrap {
          background-position: 5px 7px;
        }
        &.profile_icon .gnb_img_wrap {
          background-position: 7px 9px;
        }
        &.mywallet_icon .gnb_img_wrap {
          background-position: -59px 7px;
        }
        &.staking_icon .gnb_img_wrap {
          background-position: -91px 7px;
        }
        &.giftcard_icon .gnb_img_wrap {
          background-position: 3px -28px;
        }
        &.mypool_icon .gnb_img_wrap {
          background-position: -196px -27px;
        }
        &.upstairs_icon .gnb_img_wrap {
          background-position: -61px 11px;
        }
        &.bonus_history_icon .gnb_img_wrap {
          background-position: -95px 11px;
        }
        &.center_page_icon .gnb_img_wrap {
          background-position: -161px -26px;
        }
        &.recommend_icon .gnb_img_wrap {
          background-position: -128px 8px;
        }
        &.support_icon .gnb_img_wrap {
          background-position: 7px -27px;
        }
        &.notice_icon .gnb_img_wrap {
          background-position: -27px -28px;
        }
        &.question_icon .gnb_img_wrap {
          background-position: -60px -28px;
        }
        &.reffer_icon .gnb_img_wrap {
          background-position: -94px -27px;
        }
      }
      .menu_tree {
        &:before {
          content: "";
          background-image: url(../../_images/menu_arrow.png);
          background-size: 15px;
          display: inline-block;
          width: 15px;
          height: 8px;
          float: right;
          padding-right: 30px;
          background-repeat: no-repeat;
          margin-top: 10px;
          transform: rotate(-90deg);
        }
        &.on:before {
          transform: rotate(0deg);
          padding-right: 20px;
          margin-top: 23px;
        }
      }   
    }
    .position_wrap {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #fff;
      padding-top: 10px;
    }
    .gnb_language_wrap {
      text-align: center;

      .language_wrap {
        padding: 10px 0;
      }
      .language_text {
        color: #333;
      }
    }
    .logout_wrap {
      line-height: 20px;
      padding: 20px 15px;
      width: 100%;
      display: flex;
      border-top: 1px solid #f1f4fb;

      & > a {
        display: inline-block;
        width: 50%;
        text-align: center;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;

        &:first-child {
          border-right: 1px solid #f5f5f5;
        }

        i {
          padding-right: 5px;
          font-size: 18px;
        }
      } 

      .foot_btn {
        padding: 5px 15px !important;
        background-position: 30px 15px;
      }   
    }
  }
  @media screen and (min-width: 768px) {
		max-width: 100%;

    .menu {
      visibility: hidden;
    }
    .left_gnbWrap {
      height: 100vh;
      position: fixed;
      visibility: visible;
      left: 0;
      box-shadow: 1px 0 16px rgba(0, 0, 0, 0.038);

      .gnb_top {
        padding-left: 20px;
      }
      .close {
        left: -20%;
        display: none;
      }
    }
    .top_title h3 {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .left_gnbWrap .user-content .user_id,
    .left_gnbWrap .user-content .user_name .mygrade {
      font-size: 0.8rem;
    }
  }
}
.terms_icon:hover {
	background: #eff3f9;
}
.center_page:hover {
	background: #eff3f9;
}
.gnb_dim {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	display: none;
	z-index: 50;
}
.lang_selection {
	position: absolute;
	right: 15px;
	top: 8px;
}
.gnb_bottom {
	background: #f5f5f5;
	position: absolute;
	bottom: 136px;
	width: 100%;
	height: 20px;
}
.hidden {
	display: none;
}

@media screen and (max-width: 380px) {
	.notice_open {
		margin-right: 0 !important;
	}
}